*, *::before, *::after {
    box-sizing: border-box;
}


.container {
    margin-top: 60px;
}

.header {
    text-align: center;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.button {
    padding: 5px 15px;
    border-radius: 4px;
    margin: 5px;
}

#messages {
    text-align: center;
    font-size: 20px;
    padding: 30px 0;
}

/* #result {
    width: 50%;
    border: 2px solid black;
    margin: 0 auto;
    text-align: center;
} */
